
<h3><ol>
  <li> first create your own user .</li>
  <li> now you are able to add cars ,update user information , or log out your own contact</li>
  <li> then next go to you cars by clicking on car button shown in bottom </li>
  <li> then add your car </li>
  <li> after that book parking</li>
</ol></h3> 


<h2>Follow these steps to book your parking :-</h2>