<div class="bg-home">
  <img src="<%= asset_path("honda.jpg")%>" width="100%", height="calc(100vh - 56px)">
  <h1>Welcome to our parking application</h1>
  <!-- <h3><button class="btn btn-outline-success" ><%#= link_to 'view all user', users_path, class: "btn btn-warning" %></button></h3>  -->
</div>

