<h2>Your parking history</h2>
<% @parkings.each do |p| %>
  <ul>
    <li>parked By the user whose user id is <%= p.user_id %> and the date and time of car parking is <%= p.created_at %>and booked the parking for <%= p.parking_duration %></li>
  </ul>
<%end%>

