<h2>Book a new parking here :- </h2>
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<%=render "form", parking: @parking %>